---
title: HTML5 and Responsive Web Design Kurs
---

<section>
    <header>
        <h2>Basics</h2>
    </header>
    <div class="tasks-container">
        {{#compose 'tasks/basics/*.hbs'}}
            <article class="task" id="{{ slugify title}}">
                <h3>{{title }}</h3>
                <section class="task-details" data-id="{{ slugify title}}">
                    <h3>{{title }}</h3>
                    <div>{{{substance}}}</div>
                    <footer>
                        Ich habe diese Aufgabe erledigt: <input class="task-done" type="checkbox">
                    </footer>
                </section>
            </article>
        {{/compose}}
    </div>
</section>
<section>
    <header>
        <h2>CSS3</h2>
    </header>
    <div class="tasks-container">
        {{#compose 'tasks/css3/*.hbs'}}
            <article class="task" id="{{ slugify title}}">
                <h3>{{title }}</h3>
                <section class="task-details" data-id="{{ slugify title}}">
                    <h3>{{title }}</h3>
                    <div>{{{substance}}}</div>
                    <footer>
                        Ich habe diese Aufgabe erledigt: <input class="task-done" type="checkbox">
                    </footer>
                </section>
            </article>
        {{/compose}}
    </div>
</section>
<section>
    <header>
        <h2>HTML5 neue Elemente und APIs</h2>
    </header>
    <div class="tasks-container">
        {{#compose 'tasks/html5-new-elements-apis/*.hbs'}}
            <article class="task" id="{{ slugify title}}">
                <h3>{{title }}</h3>
                <section class="task-details" data-id="{{ slugify title}}">
                    <h3>{{title }}</h3>
                    <div>{{{substance}}}</div>
                    <footer>
                        Ich habe diese Aufgabe erledigt: <input class="task-done" type="checkbox">
                    </footer>
                </section>
            </article>
        {{/compose}}
    </div>
</section>
<section>
    <header>
        <h2>Responsive Web Design Basics</h2>
    </header>
    <div class="tasks-container">
        {{#compose 'tasks/rwd-basics/*.hbs'}}
            <article class="task" id="{{ slugify title}}">
                <h3>{{title }}</h3>
                <section class="task-details" data-id="{{ slugify title}}">
                    <h3>{{title }}</h3>
                    <div>{{{substance}}}</div>
                    <footer>
                        Ich habe diese Aufgabe erledigt: <input class="task-done" type="checkbox">
                    </footer>
                </section>
            </article>
        {{/compose}}
    </div>
</section>
<section>
    <header>
        <h2>Frontend Frameworks</h2>
    </header>
    <div class="tasks-container">
        {{#compose 'tasks/frameworks/*.hbs'}}
            <article class="task" id="{{ slugify title}}">
                <h3>{{title }}</h3>
                <section class="task-details" data-id="{{ slugify title}}">
                    <h3>{{title }}</h3>
                    <div>{{{substance}}}</div>
                    <footer>
                        Ich habe diese Aufgabe erledigt: <input class="task-done" type="checkbox">
                    </footer>
                </section>
            </article>
        {{/compose}}
    </div>
</section>
<section>
    <header>
        <h2>Advanced Frontending</h2>
    </header>
    <div class="tasks-container">
        {{#compose 'tasks/advanced/*.hbs'}}
            <article class="task" id="{{ slugify title}}">
                <h3>{{title }}</h3>
                <section class="task-details" data-id="{{ slugify title}}">
                    <h3>{{title }}</h3>
                    <div>{{{substance}}}</div>
                    <footer>
                        Ich habe diese Aufgabe erledigt: <input class="task-done" type="checkbox">
                    </footer>
                </section>
            </article>
        {{/compose}}
    </div>
</section>
<section>
    <header>
        <h2>Fancy Stuff (für zwischendurch)</h2>
    </header>
    <div class="tasks-container">
        {{#compose 'tasks/fancy/*.hbs'}}
            <article class="task" id="{{ slugify title}}">
                <h3>{{title }}</h3>
                <section class="task-details" data-id="{{ slugify title}}">
                    <h3>{{title }}</h3>
                    <div>{{{substance}}}</div>
                    <footer>
                        Ich habe diese Aufgabe erledigt: <input class="task-done" type="checkbox">
                    </footer>
                </section>
            </article>
        {{/compose}}
    </div>
</section>
<section>
    <header>
        <h2>Grössere Aufgaben (wenn es dir sonst langweilig ist)</h2>
    </header>
    <div class="tasks-container">
        {{#compose 'tasks/advanced-aufgaben/*.hbs'}}
            <article class="task" id="{{ slugify title}}">
                <h3>{{title }}</h3>
                <section class="task-details" data-id="{{ slugify title}}">
                    <h3>{{title }}</h3>
                    <div>{{{substance}}}</div>
                    <footer>
                        Ich habe diese Aufgabe erledigt: <input class="task-done" type="checkbox">
                    </footer>
                </section>
            </article>
        {{/compose}}
    </div>
</section>